<html>
    <head>
       <title>mc html page</title>
       <meta charset="utf-8"> 
       <link type="text/css" rel="stylesheet" href="static/j.css">
    </head>
    <body>
        <div id="e">
            <h1>mc</h1>
        </div> 
        <div id="x">
            <h2>今日时间：{{time}}</h2>
        </div>
        <div id="j">
            <ul id="a">
                <li class="q"><a href="https://www.mcmod.cn/">mc百科</a></li>
                <li class="q"><a href="http://127.0.0.1:8000/list">neam2</a></li>
                <li class="q"><a>neam3</a></li>
                <li class="q"><a>neam4</a></li>
                <li class="q"><a>neam4</a></li>
            </ul>
        </div>
        <div id="t">
            <h1>我的世界</h1>
            <p>我的世界是一款沙盒建造游戏，于2009年5月17日发行。其灵感来自《无尽矿工》等游戏，由瑞典游戏设计师马库斯·阿列克谢·泊松开创，<br>
                现由Mojang Studios维护，是Xbox工作室 [1]  的一部分。</p>
            <p>《我的世界》所呈现的世界并不是华丽的画面与特效，而是注重在游戏性上面。玩家可以在游戏中的三维空间里创造和破坏<br>
                游戏里的方块，甚至在多人服务器与单人世界中体验不同的游戏模式，打造精妙绝伦的建筑物，创造物和艺术品。Minecraft着重<br>
                于让玩家去探索、交互、并且改变一个由方块动态生成的地图。除了方块以外，环境单体还包括植物、动物与物品。游戏里的各<br>
                种活动包括采集矿石、与敌对生物战斗、合成新的方块与收集在游戏中找到的资源的工具。游戏中的无限制模式让玩家在各种多<br>
                人游戏服务器或他们的单人模式中进行创造建筑物、作品与艺术创作。其他功能包括逻辑运算与远程动作的红石电路、矿车及轨<br>
                道等。游戏除主世界外，还有叫作“下界”和“末路之地”的维度。</p>
            <p>2014年11月，微软(Microsoft)斥资25亿美元收购了瑞典沙盒游戏《我的世界》游戏开发商——Mojang Studios [2]  ，而<br>
                Mojang Studios [2]  的业务也已经正式转移至了微软Xbox部门。2016年，微软、Mojang Studios [2]<br>
                和网易联合宣布，Mojang
                Studios [2]  将《我的世界》中国大陆地区的独家运营权正式授予网易公司。2020年5月，获“儿童选择奖”。
            </p>
            <video controls autoplay width="512" height="288" src="static/Kazam_screencast_00000.mp4" type='video/mp4; codecs="avcl.42E01E,mp4a.40.2"'></video>
            <p>
                <em>jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</em><br>
                <em>jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</em><br>
                <em>jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</em><br>
                <em>jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</em><br>
                <em>jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</em><br>
                <em>jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</em><br>
                
            </p>
        </div>
        <iframe id="s" frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=1352280556&auto=1&height=66">
        </iframe>
        <iframe id="sss" frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=525239722&auto=1&height=66">
        </iframe>
        <div id="ss">
            <p>
                fdghjhjfklhgflkdsk;fgjk;

            </p>
        </div>
    </body>
</html>

